<%= form_for(publication_snapshot) do |f| %>
  <% if publication_snapshot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publication_snapshot.errors.count, "error") %> prohibited this publication_snapshot from being saved:</h2>

      <ul>
      <% publication_snapshot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
