<h1>Editing Item Record Snapshot</h1>

<%= render 'form', publication_snapshot: @publication_snapshot %>

<%= link_to 'Show', @publication_snapshot %> |
<%= link_to 'Back', publication_snapshots_path %>
