<p id="notice"><%= notice %></p>

<h1>Item Record Snapshots</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publication_snapshots.each do |publication_snapshot| %>
      <tr>
        <td><%= link_to 'Show', publication_snapshot %></td>
        <td><%= link_to 'Edit', edit_publication_snapshot_path(publication_snapshot) %></td>
        <td><%= link_to 'Destroy', publication_snapshot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item Record Snapshot', new_publication_snapshot_path %>
