<%= form_for(search_engine) do |f| %>
  <% if search_engine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(search_engine.errors.count, "error") %> prohibited this search_engine from being saved:</h2>

      <ul>
      <% search_engine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :search_keywords %>
    <%= f.text_field :search_keywords %>
  </div>

  <div class="field">
    <%= f.label :search_excludes %>
    <%= f.text_field :search_excludes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
