<p id="notice"><%= notice %></p>

<h1>Search Engines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Search keywords</th>
      <th>Search excludes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_engines.each do |search_engine| %>
      <tr>
        <td><%= search_engine.name %></td>
        <td><%= search_engine.search_keywords %></td>
        <td><%= search_engine.search_excludes %></td>
        <td><%= link_to 'Show', search_engine %></td>
        <td><%= link_to 'Edit', edit_search_engine_path(search_engine) %></td>
        <td><%= link_to 'Destroy', search_engine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search Engine', new_search_engine_path %>
