<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @search_engine.name %>
</p>

<p>
  <strong>Search keywords:</strong>
  <%= @search_engine.search_keywords %>
</p>

<p>
  <strong>Search excludes:</strong>
  <%= @search_engine.search_excludes %>
</p>

<%= link_to 'Edit', edit_search_engine_path(@search_engine) %> |
<%= link_to 'Back', search_engines_path %>
