<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @person.uid %>
</p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email1 %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @person.phone1 %>
</p>

<p>
  <strong>Note:</strong>
  <%= @person.note %>
</p>

<p>
  <strong>Suitcases</strong>
  <%= @person.suitcase %>
</p>

<p>
  <strong>Watch:</strong>
  <%= @person.watch %>
</p>

<p>
  <strong>Status:</strong>
  <%= @person.status %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
