<%= form_for(publication) do |f| %>
  <% if publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :product_id %>
    <%= f.text_field :product_id %>
  </div>

  <div class="field">
    <%= f.label :published_at %>
    <%= f.datetime_select :published_at %>
  </div>

  <div class="field">
    <%= f.label :publisher_id %>
    <%= f.text_field :publisher_id %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :url_id %>
    <%= f.text_field :url_id %>
  </div>

  <div class="field">
    <%= f.label :stolen_score %>
    <%= f.text_field :stolen_score %>
  </div>

  <div class="field">
    <%= f.label :match_score %>
    <%= f.text_field :match_score %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
