<p id="notice"><%= notice %></p>

<h1>Item Records</h1>

<%= will_paginate %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Product</th>
      <th>Published at</th>
      <th>Publisher</th>
      <th>Price</th>
      <th>Url</th>
      <th>Stolen score</th>
      <th>Match score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.name %></td>
        <td><%= publication.product %></td>
        <td><%= publication.published_at %></td>
        <td><%= publication.publisher %></td>
        <td><%= publication.price %></td>
        <td><%= publication.url %></td>
        <td><%= publication.stolen_score %></td>
        <td><%= publication.match_score %></td>
        <td><%= link_to 'Show', publication %></td>
        <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
        <td><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>


<br>

<%= link_to 'New Item Record', new_publication_path %>
