<%= form_for(configuration) do |f| %>
  <% if configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(configuration.errors.count, "error") %> prohibited this configuration from being saved:</h2>

      <ul>
      <% configuration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :factor_a %>
    <%= f.text_field :factor_a %>
  </div>

  <div class="field">
    <%= f.label :factor_e %>
    <%= f.text_field :factor_e %>
  </div>

  <div class="field">
    <%= f.label :factor_f %>
    <%= f.text_field :factor_f %>
  </div>

  <div class="field">
    <%= f.label :factor_g %>
    <%= f.text_field :factor_g %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
