<p id="notice"><%= notice %></p>

<h1>Configurations</h1>

<table>
  <thead>
    <tr>
      <th>Factor a</th>
      <th>Factor e</th>
      <th>Factor f</th>
      <th>Factor g</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @configurations.each do |configuration| %>
      <tr>
        <td><%= configuration.factor_a %></td>
        <td><%= configuration.factor_e %></td>
        <td><%= configuration.factor_f %></td>
        <td><%= configuration.factor_g %></td>
        <td><%= link_to 'Show', configuration %></td>
        <td><%= link_to 'Edit', edit_configuration_path(configuration) %></td>
        <td><%= link_to 'Destroy', configuration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Configuration', new_configuration_path %>
