<p id="notice"><%= notice %></p>

<p>
  <strong>Factor a:</strong>
  <%= @configuration.factor_a %>
</p>

<p>
  <strong>Factor e:</strong>
  <%= @configuration.factor_e %>
</p>

<p>
  <strong>Factor f:</strong>
  <%= @configuration.factor_f %>
</p>

<p>
  <strong>Factor g:</strong>
  <%= @configuration.factor_g %>
</p>

<%= link_to 'Edit', edit_configuration_path(@configuration) %> |
<%= link_to 'Back', configurations_path %>
