<%= form_for(case_file) do |f| %>
  <% if case_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(case_file.errors.count, "error") %> prohibited this case_file from being saved:</h2>

      <ul>
      <% case_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file %>
    <%= f.text_field :file %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
