<p id="notice"><%= notice %></p>

<p>
  <strong>File:</strong>
  <%= @case_file.file %>
</p>

<p>
  <strong>Description:</strong>
  <%= @case_file.description %>
</p>

<%= link_to 'Edit', edit_case_file_path(@case_file) %> |
<%= link_to 'Back', case_files_path %>
