<p id="notice"><%= notice %></p>

<h1>Publication Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publication_groups.each do |publication_group| %>
      <tr>
        <td><%= publication_group.name %></td>
        <td><%= publication_group.description %></td>
        <td><%= link_to 'Show', publication_group %></td>
        <td><%= link_to 'Edit', edit_publication_group_path(publication_group) %></td>
        <td><%= link_to 'Destroy', publication_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publication Group', new_publication_group_path %>
