<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @publication_group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @publication_group.description %>
</p>

<%= link_to 'Edit', edit_publication_group_path(@publication_group) %> |
<%= link_to 'Back', publication_groups_path %>
