<%= form_for(base_product) do |f| %>
  <% if base_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(base_product.errors.count, "error") %> prohibited this base_product from being saved:</h2>

      <ul>
      <% base_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :aliases %>
    <%= f.text_field :aliases %>
  </div>

  <div class="field">
    <%= f.label :excludes %>
    <%= f.text_field :excludes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
