//= require activeadmin_addons/all
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_admin_scoped_collection_actions";
@import "font-awesome";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

$skinLogo: url("admin_logo.png") no-repeat 0 0;
$skinActiveColor: #001cee;
$skinHeaderBck: #002744;
$panelHeaderBck: #002744;


.score {
  text-align :right;
}

.price {
  text-align :center;
}

.active_admin select {
  width: 200px;
}

.admin_publications .col-price {
  width: 65px;
  max-width: 65px;
}

/* line 121, /Users/csk/.rvm/gems/ruby-2.3.0@alto/bundler/gems/activeadmin-169bad98f274/app/assets/stylesheets/active_admin/_forms.scss */
form input[type=text],
form input[type=password],
form input[type=email],
form input[type=number],
form input[type=url],
form input[type=tel],
form input[type=date],
form input[type=time],
form textarea {
  width: calc(40% - 22px);
  border: 1px solid #c9d0d6;
  border-radius: 3px;
  font-size: 0.95em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  outline: none;
  padding: 8px 10px 7px;
}





form input[readonly=readonly] {
	background-color: lightgray;
}


@import "active_skin";

.header {
  position: fixed !important;
}
#title_bar {
  // position: fixed !important;
  padding-top: 5em
}
#header #utility_nav{
  background: none;
}

#active_admin_content{
  // padding-top: 8em;

}
#title_bar .action_items span.action_item > a.reviewed {
	background-color: red;
}

#title_bar .action_items span.action_item > a.not_reviewed {
	background-color: green;
}

#footer {
  position: relative;
}

body.active_admin {
  padding-bottom: 0px; 
}

.active_admin {
  .status_tag.active_green { background: green }
}

body.active_admin {
  .status_tag.blue { background: #63B8FF; }
  .status_tag.magenta { background: magenta; }
  .status_tag.yellow { background: yellowgreen; }
}
.pub_status_on_success > form > select{
  width: 60px;
}
// .active_admin select{
//   width: 10px !important
// }
.parent{
  margin: 0px auto;
  padding: 0px, auto;
  width: 1205px;
  height: 420px;
}
.child-left{
  float: left;
  width: 600px;
  height: 420px;
}
.child-right{
  float: right;
  width: 600px;
 height: 420px;
}

.dashboard-title h2 {
  text-align: center;
  margin: 0em;
}
.dashboard-title h3 {
  text-align: center;
  margin: 0em;
}

.table_tools_segmented_control{
    float: none !important;
}

@media (min-width: 0px) and (max-width: 1369px) {
  #header ul.tabs > li a {
    padding: 13px 10px;
  }
}