<div>
    <select id='relation_selected' name="relation_selected">
        <option value='<%= nil %>'></option>
        <% relations.each do |relation| %>
            <option value='<%= relation.id %>'><%= relation.to_s%></option>
        <% end%>
    </select>
</div>