<div>
    <select multiple="multiple" id='callbacks' name="my_select[]">
        <% customers.each do |customer| %>
            <% if session[:customer_ids].present? && session[:customer_ids].include?(customer.id) %>
                <option value='<%= customer.id %>' selected><%= customer.name%></option>
            <% else%>
                <option value='<%= customer.id %>'><%= customer.name%></option>
            <% end%>
        <% end%>
    </select>
</div>