<div>
  <h2><%= line_chart active_and_valid_line_chart(pubs) , title:"Publicaciones en el periodo", library: {backgroundColor: "transparent"}%></h2>
</div>
<div class="parent">

  <div class="child-left">
  <% category_quantity = category_quantity_pie_chart(pubs) %>
    <h2><%= pie_chart category_quantity[:chart], title: "Cantidad de publicaciones por Rubro" , library: {backgroundColor: "transparent", sliceVisibilityThreshold: 0}, colors: category_quantity[:slices]%></h2>
  </div>
  <div class="child-right">
  <% category_amount = category_amount_pie_chart(pubs) %>
    <h2><%= pie_chart category_amount[:chart], title: "Valor total de publicaciones por Rubro" ,library: {backgroundColor: "transparent", sliceVisibilityThreshold: 0}, colors: category_amount[:slices]%></h2>
  </div>
</div>
<div class="parent">

  <div class="child-left">
  <% brand_quantity = brand_quantity_pie_chart(pubs) %>
    <h2><%= pie_chart brand_quantity[:chart], title: "Cantidad de publicaciones por marca" , library: {backgroundColor: "transparent", sliceVisibilityThreshold: 0}, colors: brand_quantity[:slices]%></h2>
  </div>
  <div class="child-right">
  <% brand_amount = brand_amount_pie_chart(pubs) %>
    <h2><%= pie_chart brand_amount[:chart], title: "Valor total de publicaciones por marca" ,library: {backgroundColor: "transparent", sliceVisibilityThreshold: 0}, colors: brand_amount[:slices]%></h2>
  </div>
</div>
<div class="parent">
  <div class="child-left">
  <% product_quantity = product_quantity_pie_chart(pubs) %>
    <h2><%= pie_chart product_quantity[:chart], title: "Cantidad de productos base" , library: {backgroundColor: "transparent", sliceVisibilityThreshold: 0}, colors: product_quantity[:slices]%></h2>
  </div>
  <div class="child-right">
  <% product_amount = product_amount_pie_chart(pubs) %>
    <h2><%= pie_chart  product_amount[:chart], title: "Valor total por producto base" ,library: {backgroundColor: "transparent", sliceVisibilityThreshold: 0}, colors: product_amount[:slices]%></h2>
  </div>
</div>

